# Python supports 3 categories of data types :

**Basic Types-**(integer,float,complex,boolean and string)

**Container Types-**(list,tuple,sets and dictionary)

**user-defined Types-** Class

In [1]:
#list : witten in square brackets
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [2]:
#tuple : written in small brackets
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [3]:
 #sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [4]:
#dictionary
print ({"name":"shweta","age":20,"gender":"female"})

{'name': 'shweta', 'age': 20, 'gender': 'female'}

In [5]:
#user input type
input("tu kya chahta hai ")

'34'

# COMMENTS :

 A code which is not executed by compiler.Multiple line codes are not allowed in python.


> For comments "#" is used

#shweta : this is a comment

In [6]:
#In Python there is no need to variable declaration
name=("shweta")
print(name)

shweta

#In Python there is no need to declaration of variable this is dynamic type that's why Python is dynamic type language

#Another type is static typing where you have to declare variable.

#Dynamic Binding : A variable contain many datatypes. In Python dynamic binning occurs

#Static Binding : A variable contain only one datatype in whole program

# Keywords 

. Python is a case sensitive programming language.

. In programming,a keyword is a word that is reserved by a program because the word has a special meaning . Keywords can be commands or parameters. Every programming language has a set of keywords that cannot be used as variable names.

In [7]:
#python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers : 

A python identifier is a name used to identify a variable , function , class , module or other object.

>RULES FOR SETTING IDENTIFIERS

.can start with an alphabet

. followed but 0 and more letter ,_ , and digits

. keywords cannot be used as an identifiers

In [8]:
#write a program to add two numbers
first_num =int(input("Enter the first number :"))
second_num=int(input("Enter the second number"))
print(first_num)
print(second_num)
sum = first_num+second_num
print("sum of two numbers :" ,sum)

2
3
sum of two numbers : 5

**Type conversion :** A variable converts from one data type to another data type.

# There are two types of conversion 
1. implicit : In this type conversion python automatically converts the datatype by there own. 
2. explicit : In this type conversion as a programmer you have to tell python why you want type conversion.

In [9]:
#type
a=input("Enter any number :")
type(a) #here we enter a number but python read it as string

str

# LITERALS :
Literal is a raw data given in a variable .

**IN Python ,there are various types of literal they are as follows:**

.Numeric Literals

.String Literals

.Boolean Literals

.Special Literals

1. NUMERICAL LITERALS

In [1]:
a=0b1010 #binary literal
b=100 #deciaml literal
c=0o300 #octal literal
d=0x12c #hexadecimal literal

#float
float1 = 10.56
float2=1.5e2
float3=1.5e-3

#complex literal
x=3.14j

print(a,",",b,",",c,",",d)
print(float1,",",float2,",",float3)
print(x,",",x.real,",",x.imag)

10 , 100 , 192 , 300
10.56 , 150.0 , 0.0015
3.14j , 0.0 , 3.14

2. STRING LITERALS

In [2]:
string='this is python'
string2="this is python"
char="s"
multiline_str="""This is multiline string with more than one line code."""
unicode=u"\u0001f600\u0001F606"
raw_str=r"raw /n string"
print(string)
print(string2)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
this is python
s
This is multiline string with more than one line code.
f600F606
raw /n string

3.Boolean Literal

In [12]:
a=True+4
b=False+4
print("a =" , a)
print("b =",b)

a = 5
b = 4

4.Special Literal

In [13]:
#None is used as variable decleration
a=None
print(a)

None

**OPERATORS** :
Operator are used to perform operation on variable and values .

*Python has the following operators :*

. Arithmetic Operators: #perform mathematical operation on operators

. Comparison Operators :#used to compare any two operators.

.Logical Operators : # used in logic building

. Bitwise Operators :  #Works on Binary Values.

. Assignment Operators : #used in assigning the Values.

. Identity Operators : #check weather two same Values are present in sane memory location or not.

. Membership Operators : #check weather a Variable is in other Variable or not.

1.Arithmetic Operators

In [14]:
x=30
y=10

In [15]:
#addition
print(x+y)

40

In [16]:
#subtract
print(x-y)

20

In [17]:
#multiple
print(x*y)

300

In [18]:
#division
print(x/y)

3.0

In [19]:
#modulus
print(x%y)

0

In [20]:
#power
print(x**y)

590490000000000

In [21]:
#interger division 
print(x//y)

3

2.Comparison Operators/ Relational Operators

In [22]:
print(x>y)

True

In [23]:
print(x<y)

False

In [24]:
print(x>=y)

True

In [25]:
print(x<=y)

False

In [26]:
print(x==y)

False

In [27]:
print(x!=y)

True

3.Logical Operators

In [28]:
x=True
y=False

In [29]:
print(x or y)

True

In [30]:
print(x and y)

False

In [31]:
print(not x )

False

4.Bitwise operators

In [32]:
x=2
y=3
print(x & y)

2

In [33]:
print(x | y)

3

In [34]:
print(x>>2)

0

In [35]:
print(x<<2)

8

In [36]:
print(~x)

-3

5.Assignment Operators

In [37]:
a=3
print(a)

3

In [38]:
a+=3
print(a)

6

In [39]:
a-=2
print(a)

4

In [40]:
a&=3
print(a)

0

**Python not allows to used a++/++a for increment or decrement**

6.Identity operators

In [41]:
a=4
b=4
print(a is b)

True

In [42]:
a = 'hello'
b ="hello"
print(a is b)

True

In [43]:
a=[1,2,3]
b=[1,2,3]
print(a is b) #output is false because there memory location is different

False

In [44]:
print(a is not b)

True

7.Membership Operators

In [45]:
x="Jaipur"
print("j" in x)

False

In [46]:
y=[1,2,3,4]
print(4 not in y)

False

# Decision control/if-else statement:
when program has branching then we use if-else statement in program.

In [47]:
# example 1
email=input("Enter your email id :")
password = input("Enter your password :")
if email=="shwetayadaVsysy@gmail.com" and password=="1234" :
    print("welcome")
else:
    print("incorrect credentials")

incorrect credentials

In [48]:
# example 2
email=input("Enter your email id :")
password = input("Enter your password :") 
if "@" in email:
 if email=="shwetayadaVsysy@gmail.com" and password=="1234" :
    print("welcome")
 elif email=="shwetayadaVsysy@gmail.com" and password!="1234" :
    print("incorrect password")
    password=input("Enter password again")
    password=="1234"
    if password =="1234":
        print("correct password")
    else:
        print("incorrect password")        

 else:
    print("incorrect credentials")
else :
   print("Incorrect mail")

incorrect credentials

**INDENTATION** : In Python , it refers to the spaces at the beginnning of a code line . For indentation press "Tab" button . It increases code readablity .

Ques: Where we use loops?

Ans:  In making web page.

**In Python there afe two loops:**

1. for loop :where you know how many times loop were executed

2. while loop :where you don't know how many times loop were executed

In [49]:
#syntax for while loop in Python
#while condition:
#   code
#   increament/decreament

In [50]:
#WHILE LOOP
#write table of any number by while loop
num = int(input("Enter the number"))
i=1
while i<11:
    print(num,"*",i,"=",num*i)
    i+=1

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

In [3]:
#FOR LOOP
#range fuction : It is in-built function in Python it generate integers in range .
#documentation of range function : range (start,stop,step)
list(range(15))  #by default start = 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [52]:
list(range(1,20,2)) #step=2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [53]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [54]:
for i in range(1,11,2):  #(start ,stop.step)
    print(i)

1
3
5
7
9

In [55]:
for i in "delhi":
    print(i)

d
e
l
h
i

**Nested Loop** : loops inside loop.It has high time complexity that is n power no. of inputs

In [56]:
#Write a program to print this sequence.
#*
#**
#***
#****
#*****

In [57]:
rows = int(input("Enter the number of rows"))
for i in range(1,rows+1):
    for j in range(0,i):
        print("*",end="")
    print("")

*
**
***
****

**Break Statement** : It helps in terminating any loop at a specific condition.

**Continue Statement** : It continue the loop without executing the lines after the continue statement and goes to next iteration. 

**Pass statement** : It simply pass the code without showing error .

In [58]:
#Break Statement 
for i in range (1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [59]:
#Continue Statement 
for i in range (1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [60]:
#pass statement
for i in range(1,11):
    pass

# Built-in-function:

Function means block of code which has only one purpose.

Built-in-function are the functions which are already prenent in Python.There are many built-in-functions Let's see some examples:

In [61]:
#1:Print : used for print something 
print("shweta")

shweta

In [62]:
#2:input : used for taking input from user and by default it takes string input
input("Enter your name")

'shweta'

In [63]:
#3:Type : used to check the data type
a=True
type(a)

bool

In [64]:
#4: int,float,string,list,tuple : used for type conversion
int("5")

5

In [65]:
#5: abs : used to print absolute value in sort its modulo function.
abs(-4)

4

In [66]:
#6: power : used to find power of anything
pow(2,-3)

0.125

In [67]:
#7: min/max : used to find maxi or min or iterable
max([2,4,6,1,20])
min("jaipur")

'a'

In [68]:
#8: round : used to round figure your answer
c=33/7
round(c,2)

4.71

In [69]:
#9: divmod : result of division and modulus (it is combination of division and modulus)
divmod(5,2)

(2, 1)

In [70]:
#10: bin/oct/hex : to find binary /octal /hexal value of any interger
bin(2)
oct(2)
hex(2)

'0x2'

In [71]:
#11: id : to find the mmemory addresses of any variable
a=4
id(a)

140732167218056

In [72]:
#12: ord :Return the Unicode code point for a one-character string.
ord("E")

69

In [73]:
#13:len : tell the length of any string,list ....
len("mumbai")

6

In [74]:
#14: sum : it performs sum on any numberic data type(list,tuple)
sum({1,2,3,4,5})

TypeError: 'int' object is not callable

In [ ]:
#15: help : it shows the documentation of any function
help("sum")

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# WHAT ARE MODULES?

Consider a module to be the same as a code library.


A File containing a set of functions you want to include in your application.

**EXAMPLES OF PYTHON MODULES**

math

random

os

time

In [ ]:
help("modules")

Please wait a moment while I gather a list of all available modules...

C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.11_3.11.1008.0_x64__qbz5n2kfra8p0\Lib\pkgutil.py:92: UserWarning: The numpy.array_api submodule is still experimental. See NEP 47.
  __import__(info.name)
C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.11_3.11.1008.0_x64__qbz5n2kfra8p0\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

IPython             calendar            mmapfile            string
PIL                 cffi                mmsystem            stringprep
__future__          cgi                 modulefinder        struct
__hello__           cgitb               mpl_toolkits        subprocess
__phello__          chunk               mpmath              sunau
_abc                cmath               msilib              sympy
_aix_support        cmd                 msvcrt              symtable
_argon2_cffi_bindings code                multiprocessing     sys
_ast                codecs              nbclassic           sysconfig
_asyncio            codeop              nbclient            tabnanny
_bisect             collections         nbconvert           tarfile
_blake2             colorama            nbformat            telnetlib
_bootsubprocess     colorsys            nest_asyncio        tempfile
_bz2                comm                netbios             terminado
_cffi_backend       commctrl            netrc               test_brownout
_codecs             compileall          nntplib             textwrap
_codecs_cn          concurrent          notebook            this
_codecs_hk          configparser        notebook_shim       threading
_codecs_iso2022     contextlib          nt                  time
_codecs_jp          contextvars         ntpath              timeit
_codecs_kr          contourpy           ntsecuritycon       timer
_codecs_tw          copy                nturl2path          tinycss2
_collections        copyreg             numbers             tkinter
_collections_abc    crypt               numpy               token
_compat_pickle      csv                 odbc                tokenize
_compression        ctypes              opcode              tomllib
_contextvars        curses              operator            tornado
_csv                cycler              optparse            trace
_ctypes             dataclasses         os                  traceback
_datetime           datetime            packaging           tracemalloc
_decimal            dateutil            pandas              traitlets
_distutils_hack     dbi                 pandocfilters       tty
_elementtree        dbm                 parso               turtle
_functools          dde                 pathlib             turtledemo
_hashlib            debugpy             pdb                 types
_heapq              decimal             perfmon             typing
_imp                decorator           pickle              unicodedata
_io                 defusedxml          pickleshare         unittest
_json               difflib             pickletools         uri_template
_locale             dis                 pip                 urllib
_lsprof             distutils           pipes               uu
_lzma               doctest             pkg_resources       uuid
_markupbase         email               pkgutil             venv
_md5                encodings           platform            warnings
_msi                ensurepip           platformdirs        wave
_multibytecodec     enum                plistlib            wcwidth
_multiprocessing    errno               poplib              weakref
_opcode             executing           posixpath           webbrowser
_operator           fastjsonschema      pprint              webcolors
_osx_support        faulthandler        profile             webencodings
_overlapped         filecmp             prometheus_client   websocket
_pickle             fileinput           prompt_toolkit      widgetsnbextension
_py_abc             fnmatch             pstats              win2kras
_pydecimal          fontTools           psutil              win32api
_pyio               fqdn                pty                 win32clipboard
_pyrsistent_version fractions           pure_eval           win32com
_queue              ftplib              pvectorc            win32con
_random             functools           py_compile          win32console
_sha1               gc                  pyclbr              win32cred
_sha256             genericpath         pycparser           win32crypt
_sha3               getopt              pydoc               win32cryptcon
_sha512             getpass             pydoc_data          win32event
_signal             gettext             pyexpat             win32evtlog
_sitebuiltins       glob                pygments            win32evtlogutil
_socket             graphlib            pylab               win32file
_sqlite3            gzip                pyparsing           win32gui
_sre                hashlib             pyrsistent          win32gui_struct
_ssl                heapq               pythoncom           win32help
_stat               hmac                pythonjsonlogger    win32inet
_statistics         html                pytz                win32inetcon
_string             http                pywin               win32job
_strptime           idlelib             pywin32_bootstrap   win32lz
_struct             idna                pywin32_testutil    win32net
_symtable           imaplib             pywintypes          win32netcon
_thread             imghdr              qtconsole           win32pdh
_threading_local    imp                 qtpy                win32pdhquery
_tkinter            importlib           queue               win32pdhutil
_tokenize           inspect             quopri              win32pipe
_tracemalloc        io                  random              win32print
_typing             ipaddress           rasutil             win32process
_uuid               ipykernel           re                  win32profile
_warnings           ipykernel_launcher  regcheck            win32ras
_weakref            ipython_genutils    regutil             win32rcparser
_weakrefset         ipywidgets          reprlib             win32security
_win32sysloader     isapi               rfc3339_validator   win32service
_winapi             isoduration         rfc3986_validator   win32serviceutil
_winxptheme         isympy              rlcompleter         win32timezone
_xxsubinterpreters  itertools           runpy               win32trace
_yaml               jedi                sched               win32traceutil
_zoneinfo           jinja2              seaborn             win32transaction
abc                 json                secrets             win32ts
adodbapi            jsonpointer         select              win32ui
afxres              jsonschema          selectors           win32uiole
aifc                jupyter             send2trash          win32verstamp
antigravity         jupyter_client      servicemanager      win32wnet
anyio               jupyter_console     setuptools          winerror
argon2              jupyter_core        shelve              winioctlcon
argparse            jupyter_events      shlex               winnt
array               jupyter_server      shutil              winperf
arrow               jupyter_server_terminals signal              winpty
ast                 jupyterlab_pygments site                winreg
asttokens           jupyterlab_widgets  six                 winsound
asynchat            keyword             smtpd               winxpgui
asyncio             kiwisolver          smtplib             winxptheme
asyncore            lib2to3             sndhdr              wsgiref
atexit              linecache           sniffio             xdrlib
attr                locale              socket              xml
attrs               logging             socketserver        xmlrpc
audioop             lzma                soupsieve           xxsubtype
backcall            mailbox             sqlite3             yaml
base64              mailcap             sre_compile         zipapp
bdb                 markupsafe          sre_constants       zipfile
binascii            marshal             sre_parse           zipimport
bisect              math                ssl                 zlib
bleach              matplotlib          sspi                zmq
bs4                 matplotlib_inline   sspicon             zoneinfo
builtins            mimetypes           stack_data
bz2                 mistune             stat
cProfile            mmap                statistics

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [ ]:
import math  #to import maths module
math.pi

3.141592653589793

In [ ]:
math.e

2.718281828459045

In [ ]:
math.factorial(6)

720

In [ ]:
math.ceil(6.4)

7

In [ ]:
math.floor(6.4)

6

In [ ]:
math.asin(1)

1.5707963267948966

In [ ]:
import random  #import random module
random.randint(1,10)

3

In [ ]:
a=[1,2,3,4,5]
random.shuffle(a)
print(a)

[4, 2, 5, 1, 3]

In [ ]:
import time # to import time module
time.time() #it tells the time 1 january 1970 mid night to now how many seconds passes

1685034727.4765046

In [ ]:
time.ctime() #tells currect time

'Thu May 25 22:42:16 2023'

In [ ]:
print("Shweta")
time.sleep(2)  #take 2 sec break to execute next line
print("yadav")

Shweta
yadav

In [ ]:
import os #to import os module
os.getcwd()  #getcwd means get current working directory

'c:\\Users\\shwet\\OneDrive\\Desktop\\BDA'

In [ ]:
os.listdir()  #it shows all the files present in directory in which  you work currently

['computing for data science',
 'dbms',
 'foundation of data science',
 'linear algebra',
 'machine learning',
 'Mangesh sem 1,2,3 (2021-2023) exam paper.pdf',
 'numpy',
 'professional communication',
 'Project',
 'python',
 'python_practice.ipynb',
 'stastical metohd',
 'Updated Scheme and Syllabus.pdf',
 'value thinking']

**Strings are sequence of character .**

>In Python, strings are a sequence of unicode Character.

Creating String

Accessing String

Adding String

Editing String

Deleting String

Operations on String

String Function

In [ ]:
#creating string
s="hello"
print(s)
sh='Shweta'
print(sh)

hello
Shweta

**Accessing Substring from a String**

# Types of indexing
**positive indexing** : Always positive number in square brackets. In this indexing we assume left side character has 0 index and increases it as goes to right .

**negative indexing** : Always negative number in square brackets. In this indexing we assume right side character has -1 and decreses as goes to left

In [ ]:
#concept of indexing
#positive indexing
print(s[4])
#negative indexing
print(s[-3])

o
l

In [ ]:
#slicing
c="Shweta yadav"
print(c[0:5])
#from 2 to end
print(c[2:])
#from starting to 7
print(c[:8])
#from indexing 2 to 8 with alternative
print(c[2:9:2])  #here 2 is for alternative
#for reversing the string
print(c[::-1])

Shwet
weta yadav
Shweta y
wt a
vaday atewhS

**Editing and Deleting in String**

**In Python, Strings are immutable data types.**
Immutable means can't edit after assigning.

In Python editing and addition is not alllow in string .Fully deletion is allowed partial deletion is not allowed

In [ ]:
#deletion    
del c

# Operations on Strings
. Arithematic Operations

. Relational Operations

. Logical Operations

. Loops on Strings

. Membership Operations

1. Arithematic Operations

In [ ]:
"Shweta"+"-"+"yadav" #addition

'Shweta-yadav'

In [ ]:
print("*"*50)   #multiplication

**************************************************

In [ ]:
print("shweta"*4)

shwetashwetashwetashweta

2. Relational Operator

In [ ]:
"Shweta"=="yadav"

False

In [ ]:
"shweta">"yadav"

False

In [ ]:
"Goa"<"kolkata"

True

In [ ]:
"Shweta"<"shweta"

True

3. Logical Operators

In [ ]:
"shweta" and "yadav"

'yadav'

In [ ]:
"hello" or "world"

'hello'

In [ ]:
"" and "world"  #" " means 0 i.e. empty string treated as 0

''

In [ ]:
" " or "world"

' '

In [ ]:
not "shweta" #empty string treated as false

False

In [ ]:
not "" #non empty string treated as true

True

4. Loops on String

In [ ]:
c="shweta yadav"
for i in c:  #you can add slicing in loop also : for i in c[2:6] 
    print(i)

s
h
w
e
t
a

y
a
d
a
v

5. Membership Operators

In [ ]:
"a" in c

True

In [ ]:
"f" in c

False

In [ ]:
"world" in c

False

In [ ]:
"ya" not in c

False

# video 23 left

# List 
List is a data type in which you can store multiple things together.

In Python, Lists are mutable

**Difference between array and list :**
1. Array is homogenous while list is hetrogenous.
2. Arrays are much faster than list .
3. Lists are more programmmer friendly in compare to Array.

**How to create list**

In [ ]:
l = []  #empty list
print(l)
l1 = [1,2,3,4]  #homogenous list i.e. list has same datatype elements
print(l1)
l2=["Shweta",20.5,True,"F"]  #hetrogenous
print(l2) 
l3 = [1,2,3,[4,5,[6,7]]]  #3D hetrogenous list
l3
l4=list("shweta") 
l4

[]
[1, 2, 3, 4]
['Shweta', 20.5, True, 'F']

['s', 'h', 'w', 'e', 't', 'a']

**How to access item**

In [ ]:
#indexing
l1[2]

3

In [ ]:
l1[1:3]

[2, 3]

In [ ]:
l2[:3:2]

['Shweta', True]

In [ ]:
x=l3[-1]
print(x)
a=x[-1]
print(a)
b=a[1]
print(b)

l3[-1][-1][1] #conclusion of above code
#for 3D 3 squre brackets used for 2D 2 square brackets uses.

[4, 5, [6, 7]]
[6, 7]
7

7

**How to edit a list**

In [ ]:
l1[1]=100  #editing by postive indexing
l1[-1]=200  #editing by negative indexing
l1

[1, 100, 3, 200]

In [ ]:
#editing by slicing
l2[0:3]=[1,2,3]
l2

[1, 2, 3, 'F']

**How to add new item**
1. append
2. extend
3. insert

In [ ]:
l1.append(1000)  #append is function to add a item at the end of list.
l1

[1, 100, 3, 200, 1000, 1000, 1000]

In [ ]:
l1.extend([500,600,700])  #extend add the multiple item at the end of list.
l1

[1, 100, 3, 200, 1000, 1000, 1000, 500, 600, 700]

In [ ]:
l1.extend("shweta")
l1

[1,
 100,
 3,
 200,
 1000,
 1000,
 1000,
 500,
 600,
 700,
 's',
 'h',
 'w',
 'e',
 't',
 'a',
 's',
 'h',
 'w',
 'e',
 't',
 'a']

In [ ]:
l1.insert(1,"200") #inset add a item at any place where you want to add.(place,item)
l1

[1,
 '200',
 100,
 3,
 200,
 1000,
 1000,
 1000,
 500,
 600,
 700,
 's',
 'h',
 'w',
 'e',
 't',
 'a',
 's',
 'h',
 'w',
 'e',
 't',
 'a']

**How to delete any item**
1. del
2. remove
3. pop
4. clear

In [ ]:
del l4
l4

NameError: name 'l4' is not defined

In [ ]:
del l2[1] #this can remove item present in given index
l2

[1, 'F']

In [ ]:
del l1[-1]
l1

[1,
 '200',
 100,
 3,
 200,
 1000,
 1000,
 1000,
 500,
 600,
 700,
 's',
 'h',
 'w',
 'e',
 't',
 'a',
 's',
 'h',
 'w',
 'e',
 't']

In [ ]:
del l1[-5:]
l1

[1,
 '200',
 100,
 3,
 200,
 1000,
 1000,
 1000,
 500,
 600,
 700,
 's',
 'h',
 'w',
 'e',
 't',
 'a']

In [ ]:
l1.remove("200")  #remove used when you don't know the index
l1

[1, 100, 3, 1000, 1000, 1000, 500, 600, 700, 's', 'h', 'w', 'e', 't', 'a']

In [ ]:
l1.pop() #pop always delete last item.
l1

[1, 100, 3, 1000, 1000, 1000, 500, 600, 700, 's', 'h', 'w', 'e', 't']

In [ ]:
l3.clear() #clear makes the list empty
l3

[]

**Operations on Lists**

1. Arthematic Operators

In [ ]:
l1+l2  #addition and it makes new list

[1, 100, 3, 1000, 1000, 1000, 500, 600, 700, 's', 'h', 'w', 'e', 't', 1, 'F']

In [ ]:
l2*3  #multiplication same as string

[1, 'F', 1, 'F', 1, 'F']

2. Loops on List

In [ ]:
for i in l1:  #loop on list same as string
    print(i)

1
100
3
1000
1000
1000
500
600
700
s
h
w
e
t

In [ ]:
l3=[1,2,3,[4,5]]
l3

[1, 2, 3, [4, 5]]

In [ ]:
for i in l3:
    print(i)

1
2
3
[4, 5]

3. Membership Operation

In [ ]:
4 in l3

False

In [ ]:
3 in l3

True

**Funtions in List**

In [ ]:
len(l1)

14

In [ ]:
l=[1,2,5,67,4,8,90]
min(l)  #min applicable only on intergers

1

In [ ]:
l.sort()
l

[1, 2, 4, 5, 8, 67, 90]

In [ ]:
sorted(l)

[1, 2, 4, 5, 8, 67, 90]

**l.sort and sorted(l) both are used for sorting list**
>difference in .sort and sorted is sorted make new list but sort made permanent change in old list

In [ ]:
sorted(l,reverse=True) #for decresing order

[90, 67, 8, 5, 4, 2, 1]

In [ ]:
l.sort(reverse=True)
l

[90, 67, 8, 5, 4, 2, 1]

In [ ]:
l.index(2)  #index is used to find the index of given element

5

# Tuples
Tuple is a data type in which you can store multiple things together.

In Python, Tuple are immutable

In Tuples small brackets uses.

Tuples are read-only data type

**Basic Difference betwwen list and tuple:**
Lists are mutable but tuples are immutable

**How to create tuple**

In [ ]:
t=()  #empty tuple
print(t)
t1=(1,2,3,4,5)  #homogenous tuple
print(t1)
t2=("Shweta",20.5,"f",)  #hetrogenous tuple
print(t2)
t3=(1,2,3,(4,5)) #2D tuple 
print(t3)
t4=(1)  #single item did not make tuple like this
print(t4)
print (type(t4))
t5=(1,)
print(t5)
print(type(t5))  #for single item use comma after item
t6=tuple("Shweta")  #using "tuple"
t6

()
(1, 2, 3, 4, 5)
('Shweta', 20.5, 'f')
(1, 2, 3, (4, 5))
1
<class 'int'>
(1,)
<class 'tuple'>

('S', 'h', 'w', 'e', 't', 'a')

**How to access items from tuple**

Accessing in tuple is same as list

In [ ]:
#indexing
t1[3]

4

In [ ]:
t1[-2]

4

In [ ]:
t1[1:3]

(2, 3)

In [ ]:
t3[-1][0]

4

**How to edit a tuple**

Editing is not allow in tuple becausse tuples are immutable.

In [ ]:
t1[0]=100

TypeError: 'tuple' object does not support item assignment

**How to  add new item in tuple**

Addition of new item not allowes in tuple becausse tuples are immutable

**How to delete tuple** 

Full deletion is allow but partially deletion not allowed.

In [ ]:
del t1
t1

NameError: name 't1' is not defined

**Operations on Tuple**

1. Arthematic Operations

In [ ]:
t3+t2  #concentrate

(1, 2, 3, (4, 5), 'Shweta', 20.5, 'f')

In [ ]:
t2*2  #multiple

('Shweta', 20.5, 'f', 'Shweta', 20.5, 'f')

2. Loops on tuple

In [ ]:
for i in t3:
    print(i)

1
2
3
(4, 5)

3. Membership Operators

In [ ]:
3 in t3

True

**Functions in tuple**

In [ ]:
len(t2)  #lenght of tuple

3

In [ ]:
t1=(45,2,4,47,5,23,9)
min(t1) #min of tuple

2

In [ ]:
max(t1) #max oftuple

47

In [ ]:
sum(t1)  #sum of tuple

135

In [ ]:
sorted(t1)  #incresing order

[2, 4, 5, 9, 23, 45, 47]

In [ ]:
sorted(t1,reverse=True)  #decresing order

[47, 45, 23, 9, 5, 4, 2]

# Sets
**Rules for sets**

1. Sets do not allow duplicates.
2. Sets have no indexing/slicing.
3. Sets don't allow mutable data types.
4. Set itself is a mutalbe data type.  #2D,#3D sets are possible

**How to create sets**

In [ ]:
s={}  #empty set doesn't create like this
print(s)
print(type(s))
s1=set() #empty set
print(s1)
print(type(s1))
s2={1,2,3,4,5} #homogenous set
print(s2)
s3={"Shweta",20.5,"F"}  #hetrogenous set
print(s3)
s4={1,1,2,2,3,4}  #duplication does not allow 
print(s4)
#s5={[1,2,3],"Shweta"} list is mutable so it shows error
s5={(1,2,3),"Shweta"}   #tuple and string both are immutable so set is formed
print(s5)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4, 5}
{'Shweta', 20.5, 'F'}
{1, 2, 3, 4}
{'Shweta', (1, 2, 3)}

**How to access item**

Indexing and slicing is not allowed in sets

In [ ]:
s2[1]

TypeError: 'set' object is not subscriptable

**How to edit item**

Editing is not allow in sets

In [ ]:
s2[1]=100

TypeError: 'set' object does not support item assignment

**How to add items**

In [ ]:
s2.add(6)
print(s2)

{1, 2, 3, 4, 5, 6}

**How to delete tuple**

In [ ]:
del s1  #delete full set
s1

NameError: name 's1' is not defined

In [ ]:
s2.remove(4)  #remove given item
s2

{1, 2, 3, 5}

In [ ]:
s2.pop()  #remove first item of set

1

In [ ]:
s2

{2, 3, 6}

**Operations on Sets**

In [ ]:
s1={1,2,3,4,5}
S2={4,5,6,7,8}

1. Arthematic Operators

In [ ]:
s1+s2 #addition not allowed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
s1*2  #multiplication not allowed

TypeError: unsupported operand type(s) for *: 'set' and 'int'

2. Loops on Sets

In [ ]:
for i in s1:
    print(i)

1
2
3
4
5

3. Membership Operators

In [ ]:
3 in s1

True

**Function in  Sets**

In [ ]:
len(s1) #lenght of set

5

In [ ]:
min(s1) #min item from set

1

In [ ]:
max(s2)  #max item from set

6

In [ ]:
sum(s2) #sum of items of set

11

In [ ]:
sorted(s2)  #sorting of set

[2, 3, 6]

# Special fuctions for set

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1.intersection(s2)

{2, 3}

In [ ]:
s1.difference(s2)

{1, 4, 5}

In [ ]:
s2.difference(s1)

{6}

In [ ]:
s1.symmetric_difference(s2)

{1, 4, 5, 6}

In [ ]:
s1.isdisjoint(s2)

False

In [ ]:
s1.issubset(s2)

False

In [ ]:
s1.issuperset(s2)

False

In [ ]:
s1.clear()
s1

NameError: name 's1' is not defined

# Dictionary
In Curly Brackets key: values pair separated by commas .

**Rules for Dictionary**
1. Dictionary has no indexing.
2. Dictionary is a mutable types.
3. Keys should be immutable where as values can be mutable.
4. Keys should be unique.

**How to create dictionary**

In [ ]:
d={}
print(d)
d1={"Name":"Shweta","Gender":"Female","Age":20}
print(d1)
d2={"Name":"shweta","College":"CURAJ","Marks":{"Pd":89,"DBMS":85,"Python":90}}  #2D dictionary
print(d2)

{}
{'Name': 'Shweta', 'Gender': 'Female', 'Age': 20}
{'Name': 'shweta', 'College': 'CURAJ', 'Marks': {'Pd': 89, 'DBMS': 85, 'Python': 90}}

**How to access from Dictionary**

In [ ]:
d1["Name"]  # you can access from dictionary by "key"

'Shweta'

In [ ]:
d2["Marks"]["Python"] #access item in 2D dictionary

90

**How to edit a dictionary**

In [ ]:
d1["Gender"]="f"  
d1

{'Name': 'Shweta', 'Gender': 'f', 'Age': 20}

In [ ]:
d2["Marks"]["DBMS"]=88
d2

{'Name': 'shweta',
 'College': 'CURAJ',
 'Marks': {'Pd': 89, 'DBMS': 88, 'Python': 90}}

In [ ]:
d1.get("Name")  #only for 1D dictionary

'Shweta'

**How to add new key-value pair**

In [ ]:
d1["mail"]="123@gmail.com"  #for 1D 
d1

{'Name': 'Shweta', 'Gender': 'f', 'Age': 20, 'mail': '123@gmail.com'}

In [ ]:
d2["Marks"]["LA"]=92
d2

{'Name': 'shweta',
 'College': 'CURAJ',
 'Marks': {'Pd': 89, 'DBMS': 88, 'Python': 90, 'LA': 92}}

In [ ]:
d3={}
d3

{}

**How to delete dictionary**

In [ ]:
del d3 #for delete whole dictionary
d3

NameError: name 'd3' is not defined

In [ ]:
del d1["mail"]  #for deleting any key-value pair
d1

{'Name': 'Shweta', 'Gender': 'f', 'Age': 20}

In [ ]:
d1.clear()
d1

{}

**Operations on dictionary**

1. Arthematic Operators

In [ ]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
d1*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

2. Loops on dictionary

In [ ]:
for i in d2:
    print(i)  #only gives keys

Name
College
Marks

In [ ]:
for i in d2:
    print(i , d2[i])  #for key and values both

Name shweta
College CURAJ
Marks {'Pd': 89, 'DBMS': 88, 'Python': 90, 'LA': 92}

3. Membership Operators :
It works on Keys not on Values.

In [ ]:
"Shweta" in d2

False

In [ ]:
"Name" in d2

True

**Functions in Dictionary**

In [ ]:
len(d2)

3

In [ ]:
min(d2)

'College'

In [ ]:
max(d2)

'Name'

In [ ]:
sorted(d2)

['College', 'Marks', 'Name']

In [ ]:
d2.keys() #for all keys present in dictionary

dict_keys(['Name', 'College', 'Marks'])

In [ ]:
d2.values()  #for all values present in dictionary

dict_values(['shweta', 'CURAJ', {'Pd': 89, 'DBMS': 88, 'Python': 90, 'LA': 92}])

# Call by object reference 
address of  any Variable

# Aliasing
a=5
b=a
so address of a and b is same

# Reference counting
counting how many Varible point at a memory location

In [2]:
import sys
a="corona"
b=a
c=b
id(a)

2961158420208

In [3]:
id(b)

2961158420208

In [4]:

id(c)

2961158420208

In [6]:
sys.getrefcount(a) #always gives with +1

4


**A memory where no pointer is pointing that is garbage collection.**
# Garbage collector :
In Python there is a program which runs after a interval and clean the garbage this process is called **garbage collection**

# Weird stuff

In [13]:
# WS1
a=2
b=a
c=b
sys.getrefcount(a)

1000001783

**WS2 :**

-5 to 256 is shows same adddress but less than -5 and greater than 257 it shows different address

In [36]:
# WS3 : If your string is Valid identifier then you get same ids
a= "Shweta"
b="Shweta"
id(a)

2961158571184

In [37]:
id(b)

2961158571184

In [27]:
a="Shweta student M.Sc"
b="Shweta student M.Sc"
id(a)

2961158831152

In [28]:
id(b)

2961158999376

In [34]:
a="Shweta_student_MSc"
b="Shweta_student_MSc"
id(a)

2961148688336

In [35]:
id(b)

2961148688336

# Mutability :
It refers to the ability to change or edit data in it's memory location.

**Immutable Data type :** String,int,float,bool,complex,tuple.

**Mutable Data type :** List,dictionary,sets

# What is function
**Function is a block of code who has its own purpose.** It is + a black boxes who's work to give output of given input

# Abstration :
# Decomposition :

# Components of a function
def is_even(i): *def is keyword,is_even is name of function , i is parameters or arguments*

   i,a postive int  *docstring*

   print("inside is_even)  *logical body* 

   return i%2==0 *return statement* 
   
is_even     *calling the function , later in the code , you call the function using its name and values for parameters*

In [2]:
def is_even(number):
    """This function tells if a given number is odd or even
    Input- any valid integer
    output-odd/even"""
    if number%2==0 :
        return "even"
    else :
        return "odd"
for i in range(1,11):
    print(is_even(i))
print(is_even.__doc__)  #to print function's documentation

odd
even
odd
even
odd
even
odd
even
odd
even
This function tells if a given number is odd or even
    Input- any valid integer
    output-odd/even

# Parameter vs Argument
*Parameter are Varibles which is used in defining the function where as arguments are the Varibles which is used in calling the function*

**Types of arguments**
1. Default Arguments : give default value to parameters 
2. Positional Arguments : same order of variable receive to argument as you give to parameter
3. Keyword Arguments : It over right the positional argument 
4. Arbitrary Arguments : It special function it don't depend on parameter its flexible

In [7]:
def power(a=1,b=1): #1. default argument
    return a**b
print(power(2,3)) #2. Positional argument
print(power(b=2,a=3)) #3. Keyword argument

8
9

In [1]:
def flexi(* num):  # by * it form arbitary argument 
    product=1
    print(type(num))
    for i in num:
        product=product*i
    return product
print(flexi(1,2,3))
print(flexi(1,2,3,4,5,6,7,8,9))

<class 'tuple'>
6
<class 'tuple'>
362880

# Nested function :
Function inside function , inner function hide from main program .

In [2]:
def g(x):
    def h():
        x='abc'
    x=x+1
    print("in g(x) : x=" , x) 
    h()
    return x
x=3
z=g(x)

in g(x) : x= 4

# Function as object
1. Renaming a function
2. Deleting a function
3. Storing a function
4. Returning a function
5. Function as argument

In [6]:
def f(num):
    return num**2
print(f(2))
x=f  # function f work as object like int, string 
print(x(2))

4
4

In [7]:
type(x)

function

In [8]:
del f

In [9]:
f(2)

NameError: name 'f' is not defined

In [10]:
x(2)

4

# Benefits of using a Function
1. Every code is self-contained and used to break up the entire login into pieces(code modularity)
2. Works on philosophy of write once use forever!(code reusability)
3. Code is organized and coherent(code readability)

# RECURSION :
*Function calls itself* , 
**Stack is used to apply recursion features**

In [1]:
def mul(a,b):
    if b==1:
        return a
    else :
        return a +mul(a,b-1) #function calls itself
print(mul(5,4))

20

**Write a code to find factorial of a number by recursion**

In [2]:
def fact(num):
    if num==1:
        return 1
    else :
        return num*fact(num-1)
print(fact(4))

24

**Write a code to check given string is palindrome or not.**
*Example : madam*

In [6]:
def palin(text):
    if len(text)<=1:
        print("Given string is palindrome")
    else:
        if text[0]==text[-1]:
            palin(text[1:-1])
        else :
            print("Given strinf is not palindrome")
palin("madam")
palin("shweta")
palin("abba")

Given string is palindrome
Given strinf is not palindrome
Given string is palindrome

**Write the code find fibbonic series.**

In [4]:
import time
def fib(mon):
    if mon==0 or mon==1:
        return 1
    else:
        return fib(mon-1) + fib(mon-2)
start = time.time()
print(fib(36))
print(time.time()-start)

24157817
6.77973747253418

**Memoization**

In [7]:
import time
def memo(m,d):
    if m in d:
       return d[m]
    else :
        d[m]=memo(m-1,d)+memo(m-2,d)
        return d[m]
start=time.time()
d={0:1,1:1}
print(memo(48,d)) 
print(time.time()-start)

7778742049
0.0010633468627929688

**Write a recursion program to find the subset of any list**

In [21]:
def subset(num):
    if len(num)<=1:
        return ([],[num])
    else :
        return subset(num-1)
print(subset[1,2,3])

TypeError: 'function' object is not subscriptable